
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#rodape {

    background-color: #f8b6e4;
    padding: 20px;
    text-align: center;

}
table {
    border: 1px solid; 
    color: #020202;

    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    style="text-align: center;"

}
td, th{
     color: rgb(0, 0, 0);
   font-family: Arial, sans-serif;
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}
th{
    text-transform: uppercase; 
     font-weight: bold;
    background-color: #f8b6e4;
    color: #080505;
}
caption{

    background-color: rgb(252, 230, 247);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.HORA{
     text-transform: uppercase; 
     font-weight: bold;
    background-color: #ffcbef;
    color: #050505;
}

.verhorarios {
    justify-content: center;
    text-align: center;
}

.botaohorarios {
    justify-content: center;
    background-color: #ff63dd;
    color: white;
    text-decoration: none;
    padding: 13px 18px;

    border-radius: 8px;
    font-size: 20px;
    font-family:serif 
}

.botaohome {
    justify-content: center;
    text-align: center;
    padding: 20px 20px;
    
}

.verbotaohome {
    justify-content: center;
    background-color: #ff63dd;
    color: white;
    text-decoration: none;
    padding: 13px 18px;

    border-radius: 8px;
    font-size: 20px;
    font-family:serif 
}


.botaomidia {
    justify-content: space-around;

    
    background-color: #ff63dd;

    color: white;

    text-decoration: none;
    padding: 1px 10px;

    border-radius: 8px;
    font-size: 15px;
    font-family:serif 
}