
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#rodape {

    background-color: #e5a2d1;
    padding: 20px;
    text-align: center;

}
table {
    border: 1px solid black;

    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    style="text-align: center;"

}
td, th{
    color: pink;
   font-family: Arial, sans-serif;
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}
caption{
    color: pink;
    font-family: Arial, sans-serif;
    font-size: 20px;
}